<div class="cd-user-modal" [class.is-visible]="signInUpModal != null" (click)="closeSignInUpModal($event)"> <!-- this is the entire modal form, including the background -->

	<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
		<ul class="cd-switcher">
			<li><a [class.selected]="signInUpModal" (click)="showSignIn()" >Sign in</a></li>
			<li><a [class.selected]="!signInUpModal" (click)="showSignUp()">New account</a></li>
		</ul>
		
		<div id="cd-login" [class.is-selected]="signInUpModal"> <!-- log in form -->
			
			<!-- <button (click)="getpost()">Test Get Request </button>
			<p>{{postResponse}}</p> -->

			<form class="cd-form" [ngFormModel]="loginForm" (ngSubmit)="login(loginForm.value)">
				<p class="fieldset">
					<label class="image-replace cd-email" for="signin-username">Username</label>
					<input class="full-width has-padding has-border" id="signin-username" type="text" [ngFormControl]="loginForm.controls['loginUsername']" #loginUsername placeholder="Username" >
					<span class="cd-error-message" *ngIf="!loginUsername.valid && loginUsername.dirty" >Username is Required!</span>
				</p>

				<p class="fieldset">
					<label class="image-replace cd-password" for="signin-password">Password</label>
					<input class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="Password" [ngFormControl]="loginForm.controls['loginPassword']" 
					#loginPassword>
					<span class="cd-error-message" *ngIf="!loginPassword.valid && loginPassword.dirty">password is Required</span>
				</p>

				<p class="fieldset">
					<input type="checkbox" id="remember-me" checked>
					<label for="remember-me">Remember me</label>
				</p>
				
				<p class="fieldset">
					<button class="full-width" type="submit" [disabled]="!loginForm.valid" >Login</button>
					
				</p>
			</form>
			
			<p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
			<!-- <a href="#0" class="cd-close-form">Close</a> -->
		</div> <!-- cd-login -->

		<div id="cd-signup" [class.is-selected]="!signInUpModal"> <!-- sign up form -->
			<form class="cd-form" [ngFormModel]="registerForm" (ngSubmit)="register(registerForm.value)">
				<p class="fieldset">
					<label class="image-replace cd-username" for="signup-username">Username</label>
					<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username" [ngFormControl]="registerForm.controls['registerUsername']">
					<span class="cd-error-message" *ngIf="!registerForm.controls['registerUsername'].valid">Error message here!</span>
				</p>

				<p class="fieldset">
					<label class="image-replace cd-email" for="signup-email">E-mail</label>
					<input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail" [ngFormControl]="registerForm.controls['registerEmail']">
					<span class="cd-error-message">Error message here!</span>
				</p>

				<p class="fieldset">
					<label class="image-replace cd-password" for="signup-password">Password</label>
					<input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Password" [ngFormControl]="registerForm.controls['registerPassword']">
					<a href="#0" class="hide-password">Hide</a>
					<span class="cd-error-message">Error message here!</span>
				</p>

				<p class="fieldset">
					<input type="checkbox" id="accept-terms">
					<label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
				</p>

				<p class="fieldset">
					<button class="full-width has-padding" type="submit">Create account</button>
				</p>
			</form>

			<!-- <a href="#0" class="cd-close-form">Close</a> -->
		</div> <!-- cd-signup -->

		<div id="cd-reset-password"> <!-- reset password form -->
			<p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

			<form class="cd-form">
				<p class="fieldset">
					<label class="image-replace cd-email" for="reset-email">E-mail</label>
					<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
					<span class="cd-error-message">Error message here!</span>
				</p>

				<p class="fieldset">
					<input class="full-width has-padding" type="submit" value="Reset password">
				</p>
			</form>

			<p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
		</div> <!-- cd-reset-password -->

		<a href="#0" class="cd-close-form">Close</a>
	</div> <!-- cd-user-modal-container -->
</div> <!-- cd-user-modal -->